---
import '../styles/global.css';
import Image  from '@astrojs/image/components';

const { subheadline, headline, headlineAccent, description, imageSrc, imageWidths, imageSizes, imageAlt} = Astro.props;
---



<style>

.hero-wrapper {
    text-transform: uppercase;
}

.subheader {
    color: var(--primary-color);
    font-size: 14px;
}
.headline {
    color: var(--main-color);
    font-size: 55px;
    font-weight: 700;
}

.headline--accent {
    display: block;
    color: var(--primary-color);
    font-weight: 700;
}

.description {
    font-family: var(--main-font-family);
    color: var(--main-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 8.5px;
    text-transform: uppercase;
}

@media screen and (max-width: 636px) {
    .headline {
        font-size: 42px;
    }

    .description {
        color: red;
        font-size: 16px;
    }

}


</style>

<div class="hero-wrapper">
    <p class="subheader">{subheadline} </p>
    <h1 class="headline">{headline} <span class="headline--accent">{headlineAccent}</span></h1>
    <p class="description">{description}</p>

    <Image
        src={imageSrc}
        widths={[{imageWidths}]}
        sizes={imageSizes}
        alt={imageAlt}
    />
</div>