---
import '../styles/global.css';
import ContentBorderBox from './ContentBorderBox.astro';
import PasswordIcon from '../assets/password-icon.svg'
import RocketIcon from '../assets/rocket-icon.svg'
import SocialIcon from '../assets/diagram-icon.svg'
import DiagramdIcon from '../assets/social-media-icon.svg'

// const { headline, headlineAccent, description, image, imageAlt} = Astro.props;
const props = Astro.props;
---

<style>
.two-column-wrapper {
    padding: 80px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) { 
    .two-column-wrapper {
        flex-direction: column;
    }
}

.two-column-wrapper img {
    margin-top: 30px;
}
.first-col {
    max-width: 476px;
}

.second-col {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    max-width: 700px;
}

</style>


<div class="two-column-wrapper">
    <div class="first-col margin-top-30">
        <h2 class="headline-secondary headline--underline"><span class="headline--bold">{props.headlineAccent}</span> {props.headline}</h2>
        <p class="paragraph">{props.description}</p>
        <img src={props.image} alt={props.imageAlt} />
    </div>

    <div class="second-col">

        <ContentBorderBox  
            image={PasswordIcon.src} 
            imageAlt="Password Icon" 
            headline="Security Operations Center" 
            description="SOC zwiększa bezpieczeństwo firmy przez monitoring, wykrywanie zagrożeń i zarządzanie incydentami."/>
        
        <ContentBorderBox image={DiagramdIcon.src} 
            imageAlt="Diagram Icon" 
            headline="Audyty IT" 
            description="Audyt IT składa się z analizy procesów, weryfikacji zabezpieczeń, dokumentacji i oceny zgodności z regulacjami."/>

            <ContentBorderBox 
            image={RocketIcon.src} 
            imageAlt="Rocket Icon" 
            headline="Testy Penetracyjne" 
            description="Kontrolowany atak ocenia stan bezpieczeństwa systemu teleinformatycznego i jego odporność na zagrożenia."/>
    
        <ContentBorderBox 
            image={SocialIcon.src} 
            imageAlt="Social Icon" 
            headline="CSIRT COIG" 
            description="Zespół CSIRT Coig reaguje na incydenty bezpieczeństwa, chroniąc usługi świadczone przez COIG SA."/>
        
        </div>
    
</div>